<div>

    <h3>Enter new comments</h3>

    <%= form_with model: @comment, url: user_post_comments_url do |form| %>
        <%= form.label :Comment %>
        <%= form.text_area :Text %>
        <%= form.submit "Enter new comments" %>
    <% end %>

</div>